/* Chat box styles */
.chatBox{
	position: relative;
	margin: 1px;
	padding: 10px 8px;
	border: 0px solid #ececec;
	border-radius: 14px;
	max-height: 70vh;
	min-height: 70vh;
  overflow: auto ;
	border-color: black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chatBox::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.chatBox {
  -ms-overflow-style: none;
}

.w3-input{
  padding:10px;
	float: right;
  display:inline-block;
	text-align: right;
  border:1px solid #ccc;
  width: 100%;
  margin: 10px auto !important;
	border-radius: 20px;
	outline-width: 0;
}
